.navBarContainer {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  border-bottom: 1px;
  border-bottom-color: #727272;
  border-bottom-style: solid;
}

.leftContainer {
  width: 9%;
  height: 100%;
}

.rightContainer {
  display: flex;
  width: 18%;
  height: 100%;
}

.nameContainer {
  position: absolute;
  width: 20%;
  height: 100%;
  font-size: 26px;
  font-weight: bold;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box {
  color: #3a3a3a;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box:hover {
  color: black;
  transform: scale(1.3);
}
