@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato:100|Raleway:500');

/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

.app {
  margin: auto;
  height: 100%;
  width: 85%;
}

.aboutContainer {
  margin-top: 60px;
  display: flex;
  height: 400px;
  width: 100%;
}

#heading {
  font-size: 4.2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

#content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.8em;
}

#about {
  height: 90%;
  width: 65%;
  margin: auto;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  border-bottom: 1px;
  border-bottom-color: #727272;
  border-bottom-style: solid;
}

.leftContainer {
  width: 9%;
  height: 100%;
}

.rightContainer {
  display: flex;
  width: 18%;
  height: 100%;
}

.nameContainer {
  position: absolute;
  width: 20%;
  height: 85px;
  font-size: 26px;
  font-weight: bold;
}

.name {
  width: 100%;
  height: 100%;
}

.box {
  color: #3a3a3a;
  transition: all .2s ease-in-out;
  width: 100%;
  height: 100%;
}

.box:hover {
  color: black;
  transform: scale(1.3);
}
