@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato:100|Raleway:500');

/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

.stack {
  background-image: url('./images/Untitled.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.app {
  margin: auto;
  height: 100%;
  width: 85%;
}

.caption {
  position: absolute;
  top: 20%;
  color: #fff;
  opacity: 0;
  z-index: 5;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.caption-wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
}

#overlay {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #ffffff;
  background: #000000;
  text-align: center;
  transition: all .2s ease-in-out;
}

#button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 5;
  background: transparent;
  border: 1px solid #fff;
}

#link {
  transition: all .2s ease-in-out;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.desc {
  margin: auto;
}

.card-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 26%;
  height: auto;
}

#button:hover #link {
  background: white;
  color: black;
  transition: all .3s ease-in-out;
}

.card:hover #overlay {
  z-index: 1;
  opacity: 0.8;
  transition: all .3s ease-in-out;
}

.card:hover #button, .card:hover .caption {
  transition: all .3s ease-in-out;
  opacity: 1;
}

.cardsCont {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  border: 1px;
  border-style: solid;
  border-color: #d1d1d1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  /*background: 50% 50% no-repeat;*/
  background-position: center;
  background-size: cover;
}

#test {
  max-height: 30%;
  max-width: 100%;
  background-size: cover;
}

#about {
  text-align: center;
  margin-top: 22px;
}

#portfolio {
  margin-left: 60px;
}

.container {
  margin-top: 60px;
  display: flex;
  max-height: 410px;
  width: 100%;
}

#portCont {
  /*height: 500px;*/
  display: block;
  margin-bottom: 200px;
}

#img {
  border: 1px;
  border-color: #d1d1d1;
  height: max-content;
  max-width: 27%;
  margin-left: 5%;
}

#image {
  padding: 5px;
}

.heading {
  font-size: 2.6em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #3a3a3a;
}

#content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.8em;
}

#aboutWrapper {
  height: 90%;
  width: 65%;
  margin: auto;
  padding-left: 2%;
  padding-right: 5%;
}

#portfolioContainer {
  height: 400px;
  width: 100%;
  background-color: green;
}


/*navbar styles*/

.navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  border-bottom: 1px;
  border-bottom-color: #727272;
  border-bottom-style: solid;
}

.leftContainer {
  width: 9%;
  height: 100%;
}

.rightContainer {
  display: flex;
  width: 18%;
  height: 100%;
}

.nameContainer {
  position: absolute;
  width: 20%;
  height: 85px;
  font-size: 2.1em;
  font-weight: bold;
}

.name {
  width: 100%;
  height: 100%;
}

.box {
  color: #3a3a3a;
  transition: all .2s ease-in-out;
  width: 100%;
  height: 100%;
}

.box:hover {
  color: black;
  transform: scale(1.3);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
